body {
    background-image: url(../images/metromap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: rgb(182, 57, 138);
    color: white;
}

h1 {
    text-align: center;
    font-family: 'Quattrocento Sans', sans-serif;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
}
